body {
    background-color: #ddd;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration:none;
    color: lightgray;
}

/* top-bar */
.o-top-bar {
    height: 46px;
    background-color: #282828;
    color: #fff;
}
.o-top-bar .container {
    height: 46px;
}
.o-top-bar span {
    height: 46px;
    line-height: 46px;
    padding-left: 40px;
    padding-right: 40px;
    background: url(./img/tell.png) no-repeat left;
    font-size: 22px;
}
.o-top-bar .login {
    float: right;
}
.o-top-bar a {
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
}

/* nav */
nav {
    height: 79px;

}
.o-nav {
    height: 79px;

}
.o-nav ul {

}
.yhyiyou-navbar {
    padding-left: 40ex;
}
.o-nav li>a {
    height: 79px;
    line-height: 79px;
}